.hye {
	display: flex;
	width: 100%;
	height: 16rem;
	background: #234187;
	font-family: "Roboto", sans-serif;
}

.hye i {
	padding-right: 10px;
}

.hye-container {
	width: 75vw;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.hye .caja-horario,
.hye .caja-emergencia {
	width: 100%;
	height: 75%;
	background-color: #fff;
	margin: 0 10px;
	border-radius: 10px;
}

.h3-horario,
.p-horario,
.h3-emergencia,
.p-emergencia {
	display: flex;
	align-items: center;
	justify-content: center;
}

.h3-horario,
.h3-emergencia {
	height: 40%;
	font-size: 1.7rem;
	font-weight: 800;
	color: #234187;
}

.p-horario,
.p-emergencia {
	height: 60%;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	color: #234187;
}

@media screen and (max-width: 860px) {
	.hye-container {
		flex-direction: column;
		justify-content: center;
	}
	.hye .caja-horario,
	.hye .caja-emergencia {
		height: 40%;
		margin: 10px 0;
	}
	.h3-horario,
	.h3-emergencia {
		font-size: 1.1rem;
	}
	.p-horario,
	.p-emergencia {
		font-size: 1.2rem;
	}
}
