.navegacion {
	display: flex;
}

.navegacion ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-family: "Roboto", sans-serif;
	color: #234187;
	font-size: 1.05rem;
	font-weight: 500;
}

.navegacion ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100%;
}

.navegacion ul > li > a {
	margin: 10px 5px;
	border-radius: 25px;
	padding: 15px 25px;
	color: #234187;
	transition: 0.3s all ease;
}

.navegacion ul > li > .nav-item:hover {
	background: #234187;
	color: #fff;
}

.navegacion ul > li > .nav-item.active {
	background: #234187;
	color: #fff;
}

.navegacion ul li .login {
	background: #234187;
	color: #fff;
}

.navegacion ul li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 12rem;
	font-size: 0.8rem;
}

.navegacion ul li:hover ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.navegacion ul li ul li a {
	transition: 0.5s all ease;
}

.navegacion ul li ul li a:hover {
	background: #234187;
	color: #fff;
}

.navegacion ul li.nav-r {
	display: none;
}
