.logo-img {
	width: 18rem;
}

@media screen and (max-width: 860px) {
	.logo {
		width: 90vw;
		display: flex;
		justify-content: space-between;
	}
	.logo-img {
		width: 18rem;
		height: 100%;
	}
}

@media screen and (max-width: 380px) {
	.logo-img {
		width: 13rem;
		height: 90%;
		padding-top: 1rem;
	}
}
