.logo-img {
	width: 18rem;
}

@media screen and (max-width: 1115px) {
	.logo-img {
		width: 15rem;
	}
}

@media screen and (max-width: 860px) {
	.logo-img {
		height: 75px;
		margin-left: 0.5rem;
	}

	.logo {
		height: 100%;
		display: flex;
		justify-content: space-between;
	}
}

/* @media screen and (max-width: 380px) {
	.logo-img {
		width: 1rem;
	}
} */
