.barra {
	width: 100%;
	position: fixed;
	top: 4rem;
	height: 7rem;
	transition: all 0.3s ease;
	background: #fff;
	margin: 0 auto;
	z-index: 20;
}

.barra.sticky {
	top: 0rem;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.navegacion {
	display: flex;
}

.navegacion ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-family: "Roboto", sans-serif;
	color: #234187;
	font-size: 1.05rem;
	font-weight: 500;
}

.navegacion ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100%;
}

.navegacion ul > li > a {
	margin: 10px 5px;
	border-radius: 25px;
	padding: 15px 25px;
	color: #234187;
	transition: 0.3s all ease;
}

.navegacion ul > li > .nav-item:hover {
	background: #234187;
	color: #fff;
}

.navegacion ul > li > .nav-item.active {
	background: #234187;
	color: #fff;
}

.navegacion ul li .login {
	background: #234187;
	color: #fff;
}

.navegacion ul li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 12rem;
	font-size: 0.8rem;
}

.navegacion ul li:hover ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.navegacion ul li ul li a {
	transition: 0.5s all ease;
}

.navegacion ul li ul li a:hover {
	background: #234187;
	color: #fff;
}

.navegacion ul li.nav-r {
	display: none;
}

@media screen and (max-width: 1115px) {
	.barra .contenedor {
		min-width: 835px;
	}
	.barra.sticky {
		top: 0;
		margin: 0 auto;
		background: #fff;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	}

	.navegacion ul {
		font-size: 0.8;
	}
	.navegacion ul > li > a {
		font-size: 0.8rem;
		margin: 10px 5px;
		border-radius: 25px;
		padding: 15px 12px;
	}
}

@media screen and (max-width: 860px) {
	.barra {
		top: 0;
	}
	.navegacion .burguer {
		cursor: pointer;
		display: block;
		position: absolute;
		right: 1rem;
		top: 1.5rem;
		padding-top: 0.4rem;
		border-radius: 10px;
		font-size: 2rem;
		background: #234187;
		color: #fff;
		width: 45px;
		height: 45px;
		text-align: center;
		transition: right 0.4s ease;
		margin-right: 6px;
	}
	.navegacion .burguer.click {
		right: 250px;
	}
	.navegacion .burguer.click i::before {
		content: '<i class="fas fa-times"></i>';
	}
	.navegacion ul {
		display: none;
	}
}
