.nav-resp {
	display: none;
	font-family: $font1;
}

@media screen and (max-width: 860px) {
	.nav-resp {
		display: flex;
		position: fixed;
		right: -250px;
		width: 250px;
		height: 100%;
		background: #234187;
		transition: right 0.4s ease;
		top: 0;
	}
	.nav-resp.show {
		right: 0;
	}
	.nav-resp ul {
		height: 100%;
		width: 100%;
		right: 50px;
	}
	.nav-resp ul li,
	.nav-resp ul li a {
		color: #fff;
		font-size: 21px;
	}
	.nav-resp ul li {
		line-height: 58px;
		border-bottom: 1px solid white;
	}
	.nav-resp ul li a {
		position: relative;
		padding-left: 40px;
		font-weight: 500;
		display: block;
		width: 100%;
		border-left: 3px solid transparent;
	}
	.nav-resp > ul > li.active > a {
		background: #fff;
		color: #234187;
		border-left-color: #234187;
	}
	.nav-resp ul ul {
		position: static;
		display: none;
		transition: 0.4s ease;
	}
	.nav-resp ul .serv-show.show {
		display: block;
	}
	.nav-resp ul .sede-show.show1 {
		display: block;
	}
	.nav-resp ul ul li {
		line-height: 42px;
		border-bottom: none;
	}
	.nav-resp ul ul li a {
		font-size: 17px;
		color: #e6e6e6;
		padding-left: 80px;
	}
	.nav-resp ul li.active ul li a {
		background: #234187;
		color: #fff;
		border-left-color: transparent;
	}
	.nav-resp ul ul li .nav-item:hover {
		color: #234187 !important;
		background: #fff !important;
		border-left-color: #234187 !important;
	}
	.nav-resp ul li a i {
		position: absolute;
		right: 20px;
		top: 50%;
		font-size: 20px;
		transform: translateY(-50%);
		transition: transform 0.4s;
	}
	.nav-resp ul li a i.rotate {
		transform: translateY(-50%) rotate(-180deg);
	}
}
