.salud-ocupacional {
	font-family: "Roboto", sans-serif;
}

.s-o-title {
	width: 100%;
	height: 30vh;
	background: url("../../../img/saludOcupacional.jpg");
	background-repeat: no-repeat;
	background-position: center 48%;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.s-o-title h2 {
	text-align: center;
	color: #fff;
	font-size: 4rem;
}

.salud-ocupacional-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 24rem;
}

.s-o-img {
	width: 50%;
	height: 100%;
	padding: 30px;
}

.s-o-img img {
	width: 60%;
	min-width: 324px;
	height: 100%;
	object-fit: cover;
	float: right;
}

.s-o-info {
	padding: 30px;
}

.s-o-info ul {
	display: flex;
	flex-direction: column;
}

.s-o-info ul li {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 6px 0;
}

.s-o-info ul li i {
	color: #234187;
	font-size: 1.5rem;
	padding-right: 20px;
}

@media screen and (max-width: 860px) {
	.s-o-title {
		height: 20vh;
	}
}

@media screen and (max-width: 768px) {
	.s-o-img img {
		display: none;
		padding: 0;
	}
	.s-o-img {
		width: 25%;
	}
	.s-o-info {
		width: 75%;
		padding: 30px 10px;
	}
}

@media screen and (max-width: 550px) {
	.s-o-title h2 {
		font-size: 2.6rem;
	}
}

@media screen and (max-width: 530px) {
	.s-o-img {
		width: 20%;
	}
	.s-o-info {
		width: 80%;
		padding: 30px 10px;
	}
}

@media screen and (max-width: 430px) {
	.s-o-img {
		width: 10%;
	}
	.s-o-info {
		width: 90%;
		padding: 30px 10px;
	}
}
